## 规整

concat,join,merge,pivot(转动),stack,groupby

In [22]:
import pandas as pd
import numpy as np

df1=pd.DataFrame(data=np.random.randint(1,4,size=9).reshape(3,-1)
                ,columns=['x1','x2','x3']
                ,index=['a','b','c'])
# b
df2=pd.DataFrame(data=np.random.randint(1,4,size=9).reshape(3,-1)
                ,columns=['x2','x3','x6']
                ,index=['a','b','d'],copy=True)

In [23]:
df1

   x1  x2  x3
a   3   2   3
b   1   3   1
c   2   2   2

In [24]:
df2

   x2  x3  x6
a   2   2   1
b   1   2   3
d   2   1   3

### 拼接,合并
- concat:将多个数据帧在特定轴方向进行拼接
- join:将两个数据集按照索引或指定列进行合并
- merge:按照指定列标签或索引进行数据库风格的合并

In [29]:
# concat(obj,axis,join,ignore_index)
# obj:连接对象的列表
# axis:连接的轴,默认0行,1列
# join:连接方式:inner内连接,只保留两个数据集中相同的行和列
# outer外连接,保留所有的行/列缺失值用Nan填充
# ignore_index:默认为False,为True重新生成索引忽略原来索引

pd.concat([df1,df2],join='inner',axis=0)

   x2  x3
a   2   3
b   3   1
c   2   2
a   2   2
b   1   2
d   2   1

In [28]:
pd.concat([df1,df2],join='outer',axis=1)

    x1   x2   x3   x2   x3   x6
a  3.0  2.0  3.0  2.0  2.0  1.0
b  1.0  3.0  1.0  1.0  2.0  3.0
c  2.0  2.0  2.0  NaN  NaN  NaN
d  NaN  NaN  NaN  2.0  1.0  3.0

In [30]:
pd.concat([df1,df2],join='inner',axis=1)

   x1  x2  x3  x2  x3  x6
a   3   2   3   2   2   1
b   1   3   1   1   2   3

In [ ]:
# join(other,on,how,lsuffix,rsuffix)
# other:连接的另一个DataFrame
# on:指定连接的列名或标签级别(多级列标签的情况)的名称,如果不指定
# 以两个DataFrame索引为链接
# how:left,right,outer,inner,cross(交叉连接)
# lsuffix:
# rsuffix:

In [ ]:
# merge与上面两种相同,可以通过指定标签合并(left_on,right_on,on)[left_on,right_on指定标签连接]
# 可以指定索引(left_index,right_index),on指定连接标签,支持上面5种连接方法
# *indicator参数*用于指定是否添加一个特殊列,记录每行的合并方式.特殊的列命可以通过
# indicator参数进行自定,默认为_merger列,该列可以取三个值
# - left_only:该行只在左边存在,左连接独有行
# - right_only:该行只在右边存在,右连接独有行
# - both:都存在行

### 长/宽格式
主要都是改变数据帧的行和列的排列方式.数据帧透视(pivoting)是指通过选择数据的行和列重新排列数据.
- pivot:根据一个或多个列创建一个新的数据透视表.pivot_table与pivot类似
- stack:将数据帧从宽格式转换为长格式,melt方法类型
- unstack:stack的逆向操作


> long format每一行代表一个特定观察值,比如某个特定学生某科目期中考试成绩;
> wide format每一行代表一个特定观察条件,比如某个学生的学号,列代表不同学科

### 分组聚合
- groupby:
- crosstab:

### 自定义操作
- apply
- map